@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a class="nav-link" target="_blank" href="https://github.com/davidbellerose/ClockHandsAngle">
                <img src="images/go-to-js.png" width="175" />
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
